/***********************************************
*
*   nav style
*
***********************************************/

.top-menu nav>ul li>ul {
    display: none;
}

.top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.top-menu li {
    vertical-align: top;
    float: none;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

.top-menu li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

nav.top-menu>ul>li:hover>a {
    vertical-align: top;
}

nav.top-menu>ul li:hover>ul {
    position: relative;
    display: inline-block;
    background-color: #555;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: none;
}

.top-menu ul.sub>li:hover {
    color: #555;
    background-color: white;
}

.top-menu ul.sub>li:hover>a {
    color: #555;
}

.top-menu li:hover>ul.sub {
    position: absolute;
    z-index: 5;
}

.top-menu ul>li:hover {
    cursor: pointer;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    background-color: #555;
}

.top-menu ul.sub>li {
    float: left;
    clear: both;
}

.top-menu ul.sub {
    position: absolute;
    background-color: #555;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: none;
}

.top-menu ul.sub>li:hover {
    color: #555;
    background-color: white;
}

.top-menu ul.sub>li:hover>a {
    color: #555;
}

.top-menu li:hover>ul.sub {
    position: absolute;
    z-index: 5;
}
